.comments-input-container {
    margin-top: 15px;
    border-radius: 5px;
    .add-comment-container {
        display: grid;
        grid-template-columns: 60px 100px ;
        margin-bottom: 30px ;
        .post-comment {
            align-self: end;
            display: grid; 
            grid-template-columns: 150px 50px;
            textarea{
                background: none;
                border: none;
                box-shadow: none;
                height: auto;
                margin-bottom: 4px;
                max-height: 162px;
                min-height: 10px;
                overflow-y: auto;
                padding: 0;
                height: 20px;
                resize: none;
                &:focus{
                    outline: none;
                }
            
            }
            input {
                background-color: inherit;
                border: 0;
                border-bottom: 1px solid black;
                margin-right: 10px;
                &:focus {
                    outline: none;
                }
            }
            button {
                align-self: end;
                margin: 0;
            }
        }
    }
    .comments-container {
        .user-comment {
            display: flex;
            margin-bottom: 15px;
            img {
                margin-right: 5px;
            }
            .comment {
                position: relative;
                max-width: 60%;
                margin-top: 35px;
                // border-radius: 0 20px 20px 20px;
                border-radius: 2px 25px 5px 25px;
                // clip-path: polygon(100% 56%, 15% 56%, 15% 14%, 0 0, 100% 0);
                padding: 12px;
                padding-top: 2px;
                color: #393939;
                background-color: $main-bgc;
                // color: rgb(240, 242, 245);
                // background-color: #17649bd1;
                display: flex;
                flex-direction: column;
                .nickname {
                    font-size: large;
                    color: black;
                }
                .MuiSvgIcon-root{
                    position: absolute;
                    bottom: -9px;
                    box-sizing: content-box;
                    right: -9px;
                    font-size: 16px;
                    padding: -15px;
                    border-radius: 50%;
                    padding: 5px;
                    font-size: 14px;
                    // background-color: #3e7eab;
                    color: #3e7eab;
                    background-color: #fff;
                    // color: #3e7eab;
                    z-index: 5;
                }
                .MuiSvgIcon-root.gray-like{
                    color: #949494cc;
                }
                .MuiSvgIcon-root.comment{
                    right: -30px;
                    // top: -10px;
                    bottom: -7px;
                    // z-index: 99;
                    padding: 2.5px;
                    background-color: #3e7eab;
                    border-radius: 50%;
                    // background-color: #fff;
                    color: #fff;
                    // color: #3e7eab;
                }
            }
        }
    }
}
