.left-menu {
    margin-top: 40px;
    margin-left: 20px;
    position: fixed;
    left: 0;
    ul {
        font-weight: 500;
        font-size: 1.2rem;
        list-style: none;
        text-transform: capitalize;
        li {
            cursor: pointer;
            display: flex;
            gap: 10px;
            margin-bottom: 13px;
            align-items: center;
        }
        img {
            margin: 0;
        }
        .MuiSvgIcon-root {
            width: 40px;
            font-size: 1.8rem;
            color: $header;
        }
    }
}

@media (max-width: 800px) {
    .left-menu.mobile {
        position: absolute;
        z-index: 10000;
        border-radius: 0 0 16px 16px;
        background-color: white;
        margin: 0;
        width: 100%;
        left: 0;
        padding: 5px;
        transition: 0.3s;
        .extand-button {
            position: absolute;
            bottom: -20px;
            width: 50px;
            right: 10px;
            height: 50px;
            background: #bdbdbdf1;
            clip-path: circle();
            padding: 5px;
        }
        .extand-menu-container{
            transition: all 0.8s;
            .extand-close{
                display: none;;
            }
            .extand-open{
                display: block;;
            }
        }
    

        &.open {
            top: 60px;
        }
        // Close
        &.close {
            top: -300px;
        }
    }
 
}
