.microphone-container {
    position: relative;
    display: flex;
    align-items: center;

    .voice-demo {
        white-space: nowrap;
        max-width: 343px;
        overflow-x: scroll;
    }
    .post-preview.dummy {
        position: absolute;
        top: 0;
        right: 10px;
        width: 450px;
    }

    .microphone-sutggestion-container {
        position: absolute;
        right: 10px;
        top: 40px;
        // background: rgb(196, 196, 196);
        background: #fcfcfc;
        display: flex;
        width: max-content;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        font-size: 0.8rem;
        color: $main-bgc;
        border-radius: 16px;
        color: darken($color: $main-bgc, $amount: 20);
        span:first-of-type {
            color: darken($color: $main-bgc, $amount: 30);
            text-transform: capitalize;
            margin-top: -10px;
            margin-bottom: 5px;
            font-size: 1rem;
        }
    }
    .delete-list{
        max-height: 400px;
        overflow-y: scroll;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 450px;
        .post-preview{
            width: 100%;
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}
.scroll::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    position: absolute;
    z-index: 0;
}
/* Track */
.scroll::-webkit-scrollbar-track {
    background: rgba(9, 30, 66, 0.08);
    border-radius: 8px;
}
/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: rgba(190, 190, 189, 0.788);
    border-radius: 8px;
    // border
}

@media (max-width: 500px) {
    .microphone-container {
        position: unset;
        .post-preview.dummy {
            left: 0;
            width: 100%;
            top: 0;
            background: #fcfcfc;
            color: #5e6c84;
            .comments-like-container {
                span {
                    color: #5e6c84;
                }
            }
        }

        .microphone-sutggestion-container {
            background: #fcfcfc;
            width: 100%;
            left: 0;
            top: 50px;
            span {
                // color: darken($color: $main-bgc, $amount: 5);
                font-size: 1rem;
            }
            span:nth-child(2) {
                // color: darken($color: $main-bgc, $amount: 0);
                font-size: 1.3rem !important;
            }
        }
        .voice-demo {
            max-width: 100%;
        }
    }
}
